alabaster
asgiref
asn1crypto
astroid
astropy
atomicwrites
attrs
Babel
backcall
backports.functools-lru-cache
backports.os
backports.shutil-get-terminal-size
backports.tempfile
backports.weakrefpost1
baseconverta4
beautifulsoup4
bitarray
bkcharts
bleach
bokeh
boto
Bottleneck
certifi
cffi
chardet
Click
cloudpickle
clyent
colorama
conda
conda-build
conda-package-handling
conda-verify
contextlib2
cryptography
cycler
Cython
cytoolz
dask
decorator
defusedxml
distributed
Django
djangorestframework
docutils
entrypoints
et-xmlfile
fastcache
filelock
Flask
fsspec
future
gevent
glob2
gmpy2
greenlet
gunicorn
h5py
HeapDict
html5lib
idna
imageio
imagesize
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jdcal
jedi
jeepney
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
keyring
kiwisolver
lazy-object-proxy
libarchive-c
lief
llvmlite
locket
lxml
MarkupSafe
matplotlib
mccabe
mistune
mkl-fft
mkl-random
mkl-service
mock
more-itertools
mpmath
msgpack
multipledispatch
navigator-updater
nbconvert
nbformat
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpydoc
olefile
opencv-python.34
openpyxl
packaging
pandas
pandocfilters
parso
partd
path.py
pathlib2
patsy
pep8
pexpect
pickleshare
Pillow
pkginfo.1
pluggy
ply
prometheus-client
prompt-toolkit
psutil
ptyprocess
py
pycodestyle
pycosat
pycparser
pycrypto
pycurl.3
pyflakes
Pygments
pylint
pyodbc
pyOpenSSL
pyparsing
pyrsistent
PySocks
pytest
pytest-arraydiff
pytest-astropy
pytest-doctestplus
pytest-openfiles
pytest-remotedata
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
qrcode
QtAwesome
qtconsole
QtPy
redis
requests
rope
ruamel-yaml
scikit-image
scikit-learn
scipy
seaborn
SecretStorage
Send2Trash
service-streamer
simplegeneric
singledispatch.3
six
sly
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder
spyder-kernels
SQLAlchemy
sqlparse
statsmodels
sympy
tables
tblib
terminado
testpath
toolz
https://download.pytorch.org/whl/cpu/torch-1.3.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.4.2%2Bcpu-cp37-cp37m-linux_x86_64.whl
tornado
tqdm
traitlets
unicodecsv
urllib3
virtualenv
wcwidth
webencodings
Werkzeug
whitenoise
widgetsnbextension
wrapt
wurlitzer
xlrd
XlsxWriter
xlwt
zict
zipp
